@inherits LayoutComponentBase

<div class="page" style="margin: 0; padding:0;">
    @* <div class="sidebar"> *@
    @*     <NavMenu/> *@
    @* </div> *@
    <main style="margin: 0px; padding:0px;">
        <NavBar/>
        <article style="margin: 0px; padding:0px;">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>