<nav class="navbar navbar-expand-sm navbar-dark bg-dark pb-4 pt-4">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarCollapse" >
            <ul class="navbar-nav mx-auto mb-2 mb-md-0">
                <li class="nav-item mx-2">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All" >
                        <span class="" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
             
                <li class="nav-item mx-2">
                    <NavLink class="nav-link" href="/experience" >
                        <span class="" aria-hidden="true"></span> Experiences
                    </NavLink>
                </li>
                
                <li class="nav-item mx-2">
                    <NavLink class="nav-link" href="/certification" >
                        <span class="" aria-hidden="true"></span> Certifications
                    </NavLink>
                </li>
                
                <li class="nav-item mx-2">
                    <NavLink class="nav-link" href="/about" >
                        <span class="" aria-hidden="true"></span> About Me
                    </NavLink>
                </li>
            </ul>
           
        </div>
    </div>
</nav>
@code {
    
}