@page "/"
<title>Home</title>

<div>
    <div class="full-width-container">
        <div style="display: flex; justify-content: center; align-items: end; height: 25vh; padding-bottom: 0px; margin-bottom: 0px;">
            <span
                style="font-size: 5.5rem; font-weight: bolder; color: #222; text-align: center; transition: all 0.3s ease-in-out;"
                onmouseover="this.style.transform='scale(1.05)'"
                onmouseout="this.style.transform='scale(1)'"
            >John Paul Duavis</span>
        </div>
        <img src="lib/images/home-image.svg" alt="" style="display: block; margin: 0 auto 20px; border-radius: 50%; max-width: 300px; width: 100%; height: auto;" />
      <div style="display: flex; flex-direction: column; align-items: center; margin-top: 0;">
          <p style="font-size: 1.3rem; line-height: 1.6; color: #333; max-width: 600px; text-align: justify;">
              I am a backend developer based in the Philippines. In the past 2 years, I have been working with .NET technologies, 
              specializing in C# and Blazor. My passion lies in creating efficient and scalable web applications that enhance user experiences. 
              I am also an Angular enthusiast, always eager to learn and adapt to new technologies.
          </p>
          <div style="padding-top: 20px">
              <NavLink href="/about" 
                       style="display: inline-block; padding: 12px 24px; background-color: #007bff; color: white; border-radius: 6px; font-size: 1.1rem; text-decoration: none; box-shadow: 0px 4px 8px rgba(0,0,0,0.2); transition: background-color 0.3s;"
                       onmouseover="this.style.backgroundColor='#0056b3';"
                       onmouseout="this.style.backgroundColor='#007bff';">
                  <span class="bi bi-card-list" aria-hidden="true"></span> Know More About Me
              </NavLink>
          </div>
        
      </div>
    </div>
</div>

@code {

}